{deps, [
  {boss, ".*", {git, "git://github.com/evanmiller/ChicagoBoss.git", "HEAD"}},
  {cb_admin, ".*", {git, "https://github.com/evanmiller/cb_admin.git", "HEAD"}}
]}.
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["/home/att/projects/ChicagoBoss/deps/elixir/lib"]}.
